<div class="row">
    <div class="col-sm-4 col-sm-offset-3">
        <span><a href="/users/">Users</a></span>
        <span><a href="/workdays/">Workdays</a></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-3"><h1>Checkin-Checkout Button</h1></div>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-3">
        <form class="form-horizontal" role="form">
            <div class="col-sm-offset-4 col-sm-6">
               <button type="button" class="btn btn-primary btn-len" ng-show="checked" ng-click="checkin()">Iniciar Jornada</button>
               <button type="button" class="btn btn-warning btn-len" ng-hide="checked" ng-click="checkin()">Culminar Jornada</button>
        </form>
    </div>
</div>
