<div class="container">


    <div class="row" style="margin-top: 2.2em" ng-cloak>
        {% verbatim %}
        <div class="col-md-6"><h1>Bienvenid@, {{ first_name }}.</h1></div>
        {% endverbatim %}
    </div>

    <div class="row" style="margin-top: 2.0em">
        <div class="col-sm-3">
            <form class="form-horizontal" role="form">
                <button type="button" class="btn btn-primary btn-len" ng-hide="checked" ng-click="checkin()">Iniciar Jornada</button>
                <button type="button" class="btn btn-warning btn-len" ng-show="checked" ng-click="checkin()">Culminar Jornada</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 2.0em">
        <div class="col-md-6">
            <form class="form-inline" role="form">
                <label for="user_notes">Observaciones: </label>
                <textarea ng-model="notes" class="form-control no-resize" name="user_notes" id="user_notes"></textarea>
            </form>
        </div>
    </div>
    <div class="row" ng-show="checked" style="margin-top: 2.0em">
        <div class="col-md-6" ng-cloak>
            {% verbatim %}
            <span>Jornada iniciada el {{ workday_started | date: "dd/MM/yyyy" }} a las {{ workday_started | date: "h:mm a" }}</span>
            {% endverbatim %}
        </div>
    </div>

    <div class="row" ng-hide="checked" style="margin-top: 2.0em">
        <div class="col-md-6">
            {% verbatim %}
            <span>Última jornada finalizada el {{ workday_finished | date: "dd/MM/yyyy" }} a las {{ workday_finished | date: "h:mm a" }}</span>
            {% endverbatim %}
        </div>
    </div>

    <div class="row" style="margin-top: 1.0em">
        <div ng-show="checkout" class="col-md-6 alert alert-danger" role="alert">Recuerda actualizar tu hoja de <strong>Registro de Actividades.</strong></div>
    </div>
</div>
