<div class="row">
    <div class="col-sm-8"><h1>Listado de Usuarios</h1></div>
</div>
<div class="row">
    <form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="query" class="col-sm-1 control-label">Buscar</label>
        <div class="col-sm-4">
            <input ng-model="query">
        </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-hover">

            {% verbatim %}
            <tr>
                <th><a href="" ng-click="predicate = 'first_name'; reverse=!reverse">Usuario</a></th>
                <th><a href="" ng-click="predicate = 'last_workday.start'; reverse=!reverse">Última vez visto</a></th>
                <th><a href="" ng-click="predicate = 'average_hours_worked'; reverse=!reverse">Promedio de horas diarias</a></th>
                <th><a href="" ng-click="predicate = 'total_hours_worked'; reverse=!reverse">Total de horas</a></th>
                <th><a href="" ng-click="predicate = 'total_days_worked'; reverse=!reverse">Total de días</a></th>
            </tr>

            <tr ng-repeat="user in users | filter:query  | orderBy:predicate:reverse" data-ng-class="getClass(user)" >
                <td><a href="users/{{ user.username }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                <td>{{ user.last_workday.start | date:'short' }} </td>
               <td>{{ user.average_hours_worked | number:2 }}</td>
               <td>{{ user.total_hours_worked | number:2 }}</td>
               <td>{{ user.total_days_worked | number }}</td>
            </tr>
            {% endverbatim %}

        </table>
        <!--
        <nav>
          <ul class="pagination">
            <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
          </ul>
        </nav>
        -->
    </div>
</div>
