<div class="row">
{% verbatim %}
<div class="col-sm-8"><h1>Movimientos para {{ username }}</h1></div>
{% endverbatim %}

    <div class="col-sm-8">
        <table class="table table-hover">
            <tr><th>Fecha</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Horas</th>

            </tr>
            {% verbatim %}
            <tr ng-repeat="workday in workdays">
                <td>{{ workday.start | date }}</td>
                <td>{{ workday.start | date:'shortTime'}}</td>
                <td>{{ workday.finish | date:'shortTime'}}</td>
                <td>{{ workday.hours_worked | number:2 }}</td>
                <td></td>
            </tr>
            {% endverbatim %}
        </table>
        <!--
        <nav>
          <ul class="pagination">
            <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
          </ul>
        </nav>
        -->
    </div>
</div>
