{% extends 'base.html' %}

{% load staticfiles %}

{% block menu %}

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}


    <div class="alert alert-success text-center">Registro de llegada exitoso</div>

    <div class="alert alert-danger text-center">Registro de llegada fallido</div>

    <form class="form-signin" role="form">

        <div class="col-sm-12 text-center" >
            <h2 class="form-signin-heading">Registrar llegada </h2>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Llegada</button>
        </div>
    </form>


{% endblock %}

{% block footer %}

{% endblock %}

