{% extends 'base.html' %}

{% load staticfiles %}

{% block menu %}

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    {% if success %}

        <div class="alert alert-success text-center">Registro de llegada exitoso</div>

    {% elif fail %}

        <div class="alert alert-danger text-center">Registro de llegada fallido</div>

    {% endif %}

    <form class="form-signin" role="form">

        <div class="col-sm-12 text-center" >
            <h2 class="form-signin-heading">Registrar llegada </h2>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Llegada</button>
        </div>

        <br>
        {% if perms.accounts %}
            <div class="col-sm-12 text-center" >
                <button class="btn btn-lg btn-primary btn-block" type="submit">Reporte de horas</button>
            </div>

        {% endif %}
    </form>


{% endblock %}

{% block footer %}

{% endblock %}

